[tool.poetry]
name = "aws-lambda-python-packager"
version = "0.0.1"
description = "Description"
authors = ["Daniel Sullivan <mumblepins@users.noreply.github.com>"]
license = "LGPL-3.0-or-later"
repository = "https://github.com/mumblepins/aws-lambda-python-packager/"
documentation = "https://mumblepins.github.io/aws-lambda-python-packager/"
readme = "README.md"
packages = [{ include = "aws_lambda_python_packager", from = "src" }]

[tool.poetry.scripts]
lambda-packager = "aws_lambda_python_packager.cli:main"

[tool.poetry.dependencies]
python = "^3.7"
poetry = { version = "^1.2.0a2", allow-prereleases = true }
requests = "^2.27.1"


[tool.poetry.group.dev.dependencies]
pylint = "^2.13.0"
pytest = "^7.1.1"
coverage = "^6.3.2"
pre-commit = "^2.15.0"
Sphinx = "^4.4"
sphinx-rtd-theme = "^1.0"
mypy = "^0.942"
pytest-cov = "^3.0.0"
pylint-pytest = "^1.1.2"
types-requests = "^2.27.19"
pytest-xdist = "^2.5.0"

[tool.poetry.extras]

[build-system]
requires = ["poetry-core>=1.1.0a7"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
skip_gitignore = true
line_length = 88
indent = "    "
multi_line_output = 3
skip = "env"
include_trailing_comma = true
combine_as_imports = true
force_grid_wrap = 3

[tool.black]
line-length = 160
include = '\.pyi?$'
target-version = ['py38', 'py39', 'py310']
exclude = '''
/(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.cache
  | env
  | venv
  | \.aws-sam
  | _build
  | buck-out
  | build
  | dist
)/
'''



[tool.mypy]
files = 'src/**/*.py'
exclude = '''(?x)(
      \.eggs
    | \.git          # root of the project
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.cache
  | env
  | venv
  | \.aws-sam
  | _build
  | buck-out
  | build
  | dist
  | package_
)'''


[[tool.mypy.overrides]]
module = "poetry.core.*"
ignore_missing_imports = true
